app = 'gemini-api-1tbpvg'
primary_region = 'hkg'

[build]

[env]
  GEMINI_COOKIE_PATH = '/data/gemini_webapi'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'gemini_data'
  destination = '/data'
